/* Colors */
:root {
  --color-background-main: hsl(0, 0%, 8%);
  --color-background-card: hsl(0, 0%, 12%);
  --color-background-button: hsl(0, 0%, 20%);

  --color-font-principal: hsl(0, 0%, 100%);
  --color-font-secundary: hsl(75, 94%, 57%);

  --color-background-hover: hsl(75, 94%, 57%);
  --color-font-hover: hsl(0, 0%, 12%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  min-height: 100vh;
  background: var(--color-background-main);
  color: var(--color-font-principal);
  display: flex;
  flex-direction: column;
}

main.container__main {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

/* card */
.container__main .card__social__profile {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-card);
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  width: 320px;
  height: 570px;
}

/* profile */
.card__social__profile .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  margin: 20px 5px 10px;
}

/* avatar */
.profile .profile__avatar {
  width: 25%;
  margin: 2px;
}

.profile .profile__avatar .avatar {
  width: 100%;
  border-radius: 50%;
}

/* dados */
.profile .profile__dados {
  text-align: center;
  padding: 5px;
  margin: 15px 5px 5px 5px;
  font-size: 14px;
}
.profile .profile__dados .profile__dados__name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.profile .profile__dados .profile__dados__address {
  font-weight: 600;
  color: var(--color-font-secundary);
  margin-bottom: 20px;
}
.profile .profile__dados .profile__dados__description {
  margin-bottom: 1px;
  font-weight: 400;
}

/* links */
.card__social__profile .redes__sociais__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 10px;
  margin: 1px 5px 20px;
  gap: 16px;
}
.redes__sociais__links .link {
  padding: 14px;
  text-align: center;
  background-color: var(--color-background-button);
  color: var(--color-font-principal);
  text-decoration: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  width: 100%;
}

.redes__sociais__links .link:hover,
.redes__sociais__links .link:focus-visible{
  background-color: var(--color-background-hover);
  color: var(--color-font-hover);
}

/* footer */
.footer__attribution {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}
.footer__attribution a {
  text-decoration: none;
  color: var(--color-font-secundary);
  font-weight: 600;
}
.footer__attribution a:hover,
.footer__attribution a:focus-visible{
  text-decoration: none;
  color: var(--color-font-principal);
  font-weight: 700;
}
