:root{
    --cor-textLocalHover: hsl(75, 94%, 57%);
    --cor-text: hsl(0, 0%, 100%);
    --cor-links: hsl(0, 0%, 20%);
    --cor-card: hsl(0, 0%, 12%);
    --cor-body: hsl(0, 0%, 8%);
    --cor-rodapeLinks:hsl(75, 67%, 33%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor-body);
}

.conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;  
}
.cardSocial{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-card);
    width: 23.5rem;
    height: 37rem;
    border-radius: 15px;
    overflow: hidden;
}
.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.perfilImageAvatar{
    width: 6.25rem;
    border-radius: 50%;
    margin: 1.57rem;
}
.perfilText{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--cor-text);
    margin: 0rem 0.63rem;
}
.perfilText h1{
    font-weight: 700;
}
.perfilTextLocal{
    color: var(--cor-textlocal);
    font-weight:400;
    margin-top: 0.63rem;
    color: var(--cor-textLocalHover);
}
.perfilTextProfissao{
    font-weight: 400;
    margin: 1.25rem 0rem 0.94rem 0rem;
}

.socialLinks{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin:0.94rem 2rem 0rem 2rem;
}
.socialLinks a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: var(--cor-links);
    color: var(--cor-text);
    width: 18.75rem;
    margin-bottom: 0.94rem;
    height: 2.82rem;
    border-radius: 10px;
    font-weight: 700;
}
.socialLinks a:hover{
    background-color: var(--cor-textLocalHover);
    color: var(--cor-conteiner);
}
.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom:0;
    height: 4rem;
    width: 100%;
    margin-top: 1rem;
    background-color: var(--cor-card);
    color: var(--cor-text);
    position: absolute;
}
.rodape a{
    text-decoration: none;
    color: var(--cor-rodapeLinks);
}
.rodape a:hover{
    color: var(--cor-textLocalHover);
}
@media (max-width:360px) {
    .conteiner{
        width: 100%;
    }
    .cardSocial{
        width: 90%;
    }
    .socialLinks a{
        width: 75vw;
    }
}